@media(max-width:768px){
	.text-align-right{
		text-align:left!important;
    }
    .select_width{
        width: 100%!important;
    }
    .pull-right{
        float: left!important;
        margin-top:-40px!important;
    }
    .margin-top-70{
        margin-top:70px!important;
    }
    .dashboard{
        display:none!important;
    }
    .FilteredMultiSelect__select{
        width: 100%;
        overflow-x: auto;
    }
    .FilteredMultiSelect__filter{
        width: 100% !important;
    }
    /* .is-focused select option{
        color: red;
        width: 10%!important;
    } */
    .profileImg {
        width: 175px!important; 
        height: 200px!important;
    }
}
@media(max-width:991px){
    .pull-right{
        float: left!important;
        margin-top:-40px!important;
    }
    .margin-top-70{
        margin-top:70px!important;
    }
    .dashboard{
        display:none!important;
    }

}

@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
    .sidebar-mini .sidebar .ksa a{
        display:none;
    }

}

.perfect-scrollbar-off .sidebar .sidebar-wrapper, .perfect-scrollbar-off .main-panel{
    overflow-x: hidden;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn{
    margin-bottom: 30px
}

.space-70{
    height: 70px;
    display: block;
}

.tim-row{
    margin-bottom: 20px;
}

.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}

.third {
  width: 33.333333%
}
.padding-10{
    padding:10px;
}
.movingTabS {
  width: 178px;
  transform: translate3d(-8px, 0px, 0px);
  transition: transform 0s;
}

.tableImageDiv img {
  width: 200px
}

.tableImage {
  width: 200px
}

.fireadminbar {
  margin-top: -100px;
  margin-left: 0px
}

.breadcrumbSeparator {
  margin-left: 20px
}

.flright {
    float:right;
}


.iphoneImg {
   position: relative;
   width: 100px; /* for IE 6 */
   height:300px;
}

.pushText {
   position: absolute;
   top: 424px;
   left: 120px;
   width: 60%;
   font-size:16px;
   color: black;
}

.header h2 {
	text-align:center;
}

.margin-bottom-10px{
	margin-bottom:20px;
}

.text-align-center{
    text-align:center!important;
}
.margin-padding-0 .form-group{
    margin:0px;
    padding:0px;
}
.label-color{
    color:black!important;
    font-size: 14px!important;
}

.text-align-right{
    text-align:right;
}
.margin-top-25px{
    margin-top:25px;
}
.margin-tb-15{
    margin-top:15px;
    margin-bottom: 15px;
}
.margin-b-15{
    margin-bottom:15px;
}
.margin-t-15{
    margin-top:15px;
}
.font-size{
    font-size:16px;
}
.btn-width{
    font-size:16px;
    width:120px;
    margin-left:10px;
}
.btn-size{
    width:130px;
    margin-left:10px!important;
}
.padding-top-10{
    padding-top:10px;
}
.table > thead > tr > th {
    border-bottom-width: 1px;
    font-size: 14px !important;
    font-weight: 300;
  }
  .simple-text{
    font-size:12px;
}

  .notification{
    position: absolute;
    top:5%;
    right:5%;
    text-align: justify;
}
.alert-notification{
    background-color:#DC2465;
    color:white;
    font-size:12px;
}
.float-right{
    float: right;
    font-size:16px;
}
.skylight-close-button{
    display: none;
}
.margin-tb{
    margin-top:-20px;
    margin-bottom: -5px;
}
/* popup styling */
.tab-width{
    width:33.33%;
}
.tab-moving{
    width: 260.221px;
    transform: translate3d(-8px, 0px, 0px); 
    transition: transform 0s;
}
.margin-lr-5{
    margin:0px 5px!important;
}
/* wizard styling*/
.tabs-width{
    width:33.33%;
}
.nav-pills{
    background-color: #F3F3F3;
}
.nav-pills > li > a{
    color:black!important;
    text-align:center;
}
.nav-pills>li>a:focus, .nav-pills>li>a:hover{
    background-color: #F3F3F3!important;
    color:black!important;
}
.nav-pills>li.active>a{
    background-color: #E02C6B!important;
    color:white!important;
}
.moving-tab{
    width: 250px; 
    transform: translate3d(250px, 0px, 0px); 
    transition: transform 0s;
}
.footer-checkbox{
    opacity: 0;
     visibility: hidden;
      position: absolute;
}
.display-none{
    display: none;
}
/* wizard styling*/
.display-block{
    display:block;
}

.wizard-card {
	margin-bottom:-5px;
}

.select_width{
    width: 140%;
    margin: 16px 0px 0px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
}
/* radio color */
.radio input[type=radio]:checked ~ .check{
    background-color:#E82062!important;
}
.radio input[type=radio]:checked ~ .circle{
    border-color:#E82062!important;
}
.margin-tb-0{
    margin-top:0px!important;
    margin-bottom:0px!important;
}
.margin-bottom-0{
    margin-bottom:0px!important;
}
/* background color for skylight */
.skylight-overlay{
    height:10000%!important;
}
/* background color for skylight */
.ol-styling{
    height: 90px;
    overflow-y: auto;
    border:2px solid #F1F1F1;
    padding-left: 30px!important;
    margin-bottom: 0px!important;
}
.tableImage{
    width:80px!important;
}
.badge{
    background-color:#E82062;
    color:white;
    padding:10px;
    border-radius:25px;
}
.button-cancel, .button-submit{
    color:white;
    padding: 5px 15px;
}
.btn.btn-twitter.btn-link, .btn.btn-twitter.btn-link:active, .btn.btn-twitter.btn-link:hover{
    background-color: transparent;
    color: #55acee;
    padding-top:0px;
    padding-bottom: 0px;
}
.btn.btn-twitter.btn-link:focus{
    background-color: white;
    padding-top:0px;
    padding-bottom: 0px;
}
.btn.btn-twitter.btn-link{
    box-shadow: none;
}
.ol-modal-styling{
    font-size: 12px;
}
.ol-modal-styling li{
    padding-bottom: 5px;
}
.footer .copyright{
    text-align: center;
}
.padding-top-30px{
    padding-top:30px;
}
.deleteAlertBtnColor {
    background-color:#E82062 !important;
}
.edit-attach-btn{
    font-size:12px;
    width: 110px;
    margin-left:10px!important;
    padding:10px;
}
.margin-lr-10{
    margin:0px 10%;
}
.enrol_image_size{
    height: 150px!important;
    width: 150px!important;
    margin-top:16px!important;
}
.margin-top-10{
    margin-top: 10px!important;
    margin-bottom: 0px!important;
}
.FilteredMultiSelect__filter{
    display:block!important;
    width:64%;
}
.FilteredMultiSelect__button{
    display:block!important;
    background-color:#E82062!important;
    color:white;
    border:1px solid #E82062!important;
}
.deSelectAllBtn{
    background-color:#E82062!important;
    color:white;
    border:1px solid #E82062!important;
}
.deSelectBtn{
    color:#E82062!important;
}
.padding-right-0{
    padding-right:0px;
}
.ul-filter{
    padding-left:20px!important;
}
.td-actions{
    white-space: nowrap!important;
}
.profile-img-styling{
    object-fit: fill!important;
    /* height: 60px!important; */
    width:100%!important;
}
.inactive {
    background-color: #FE970F!important;
    opacity: 0.7;
}
.profileImg {
    width: 350px; 
    height: 400px;
}
.img-circle{
    width: 100px;
    height:100px;
}
.background-no-repeat{
    background-repeat: no-repeat;
}
.coming-soon-styling{
    margin-top: 20%;
    margin-left: 25%;
    font-size: 100px;
}
.css-1aya2g8{
    border: none!important;
    background-color: white!important;
    border-bottom: 1px solid #D2D2D2!important;
    border-radius: 0px!important;
}
.password-btn{
    padding: 5px!important;
    width: 110px!important;
}
/* Accordion */
.accordion{
    margin:10px;
}
.accordion .accordion-item.active .title , .accordion .accordion-item.active .panel{
    background-color: white!important;
}
.accordion .accordion-item .panel{
    overflow-y: auto!important;
}
.accordion .accordion-item:last-child .title{
    font-size: 20px!important;

}
.accordion .accordion-item:last-child .title:hover{
    color:#E82062;
}
.accordion .accordion-item.active .title{
    color:#E82062;
}
.accordion .accordion-item .title:after{
    content: '\2335'!important; 
    font-size: 18px!important; 
}
.accordion .accordion-item .title:hover:after{
    color:#E82062!important;
    font-size: 18px!important; 
}
.accordion .accordion-item.active .title:after{
    content: '\1431'!important;/*1431,2227*/ 
    color:#E82062; 
    font-size: 12px!important;
}

/* Accordion */
.card-content{
    padding-top: 5px!important;
}
.material-datatables{
    margin-top:10px!important;
}

.download-btn{
    margin:0px 25px!important;
}


.accordion__title{
    padding:5px!important;
}
.accordion__body{
    padding:10px!important;
}